<div class="row">
          <div class="col-6">
             <app-dona title="Ventas"></app-dona>
          </div>

          <div class="col-6">
            <app-dona 
                    [data]="data1"
                    title="Compras"
                        ></app-dona>
        </div>
</div>

<div class="row">
    <div class="col-6">
        <app-dona 
        [data]="data2"    
        title="gastos"></app-dona>
    </div>

    <div class="col-6">
        <app-dona title="ingresos"></app-dona>
  </div>
</div>
